body{
    margin: 0;
    padding: 0;
}
p,
ol,
ul,
li{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    list-style-type:none;
}
strong {
    font: 100% "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    line-height: 1.4
}
.dialpad
{
 background : #2E2E2E;
}
.dialpad .number {
    position: relative;
    z-index: 2;
    color: #4d4d4d;
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
    background: #fff;
    min-height: 25px;
        padding-left: 3px;
    padding-top: 3px;
}
.dialpad .dials {
    margin: -1px 0 0 -1px;
    cursor: pointer
}
.dialpad .dials:before,
.dialpad .dials:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}
.dialpad .dials:after {
    clear: both
}
.dialpad .dials .digits {
    float: left;
    width: 33.33%
}
.dialpad .dials .digits p {
    font-weight: 600;
    padding:2px 4px;
    border-top: 1px solid #4d4d4d;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #4d4d4d
}
.dialpad .dials .digits p strong {
    font-size: 50px;
    margin-right: 8px;
    color: #fff
}
.dialpad .dials .digits:active {
    background: #00caf2;
    border-top-color: #b2f2ff
}
.compact .dials .digits p {
        padding: 3px 1px 1px 6px;
}
.compact .dials .digits p strong {
        font-size: 25px;
}
.actionTxt{
        font-size: 15px !important;
}
.compact .dials .digits p sup {
    text-transform: uppercase;
    color: #c1c1c1
}
.compact .dials .pad-action {
    background: #093
}
.compact .dials .pad-action:active {
    background: #0c3
}
.call-info
{
	padding: 15px;
}
.f18
{
	font-size: 18px;
}
.callerInfo{
    text-align: center;
}
.caller-name
{
color:#c1c1c1;
}
.callerImg{
    width: auto;
    height: auto;
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    margin-top: 13px;
	margin-bottom: 20px;
	animation: border-animate 2s infinite;
}
.commonDiv{
  background: #2E2E2E;
  min-height: 297px;
}
.Btn, .greenBtn, .redBtn {
    border: medium none;
    cursor: pointer;
    font-size: 16px;
	height: 30PX;
    width: 90px;
    border-radius: 44px; 
    outline: none;
}
.greenBtn{
  background: none repeat scroll 0 0 #98cb00;
}
.redBtn{
  background: none repeat scroll 0 0 #f44336;
}
.whiteTxt{
  color: white;
}
.callerName{
	text-overflow: ellipsis;
    margin: 0 !important;
    white-space: nowrap;
    overflow: hidden;
}
.fR
{
	float: right;
}
.fL
{
	float: left;
}
.mL10{
    margin-left: 10px;	
}
.mR10{
    margin-right: 10px;
}
.pT35{
	padding-top:35px
}
.responseBtn
{
	margin-top: 26px !important;
}
@keyframes border-animate 
{
    0%{ 		-webkit-box-shadow: 0px 0px 10px #a9cefb;	    -moz-box-shadow: 0px 0px 10px #a9cefb;		box-shadow:0px 0px 10px #a9cefb 	}
    50%{		-webkit-box-shadow: 0px 0px 50px #a9cefb;	    -moz-box-shadow: 0px 0px 50px #a9cefb;		box-shadow:0px 0px 50px #a9cefb 	}
    100%{		-webkit-box-shadow: 0px 0px 10px #a9cefb;	    -moz-box-shadow: 0px 0px 10px #a9cefb;		box-shadow:0px 0px 10px #a9cefb 	}
}
.loadingImg
{
	-webkit-user-select: none;
    margin-left: -83px;
    margin-top: -44px;
}
.loggingInTxt
{
	position: absolute; 
	color: #fff; 
    width: 110px;
    margin-left: -55px;
    left: 50%;
    margin-top: 10px;
}
ol.actions li{
  float:left;
  width:33.33%;
  margin-top: 10px;
}
.callActions{
  margin-top:40px;
  border solid 1px white;
}
.callActions td{
  padding:10px;
  width:33.33%;
  text-align: center;
}
.blueTxt
{
  color: #6699cc;
}
.endCallBtn{
	padding: 10px;
    border-radius: 50%;
    background: red; 
}
.material-icons{
	cursor: pointer;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}
.loadingText{
	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    color: #fff;
    width: 80px;
    margin-left: -40px;
    height: 20px;
    margin-top: -10px;
}
.loadingBG
{
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
    position: fixed;
}
.successMsg{
     background: #439c28;
    color: #FFF;
    width: 20%;
    padding: 3px 10px 3px 8px;
    position: fixed;
    border-radius: 4px;
    left: 37%;
}